[submodule "vicious"]
	path = vendor/vicious
	url = https://github.com/vicious-widgets/vicious.git
[submodule "awesome-wm-nice"]
	path = vendor/nice
	branch = awesome-4v3-stable
	url = https://github.com/mut-ex/awesome-wm-nice.git
[submodule "vendor/inspect"]
	path = vendor/inspect
	url = https://github.com/kikito/inspect.lua
[submodule "vendor/rubato"]
	path = vendor/rubato
	url = https://github.com/andOrlando/rubato.git
